{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a1ce81-b1ea-4728-9340-2517f62d1fe9"}
:block/parent 
{:block/uuid #uuid "68a1ce81-b1ea-4728-9340-2517f62d1fe9"}
:block/properties 
{}
:block/uuid #uuid "68a1d04b-02ed-4e4f-93b2-5f82afcc8fc7"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a1d04b-02ed-4e4f-93b2-5f82afcc8fc7"}
:block/parent 
{:block/uuid #uuid "68a1ce81-b1ea-4728-9340-2517f62d1fe9"}
:block/uuid #uuid "68a1d062-3dd4-4f27-8655-fa62f8cc7fc1"} 
{:block/created-at 1755435442570
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 0
:scale [1 1]
:pageId "Chapter 1: Dragons of Stormwreck Isle"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "100e98e0-7b69-11f0-b6a3-5346dbe80ef2"
:noFill false
:point [2272 1648]
:parentId "68a1ce81-b1ea-4728-9340-2517f62d1fe9"
:collapsedHeight 112.99999999999999
:nonce 1755435161970}}
:block/updated-at 1755435442570} 
{:block/created-at 1755435444640
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Chapter 2: The City of Waterdeep"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a7835530-7b69-11f0-b6a3-5346dbe80ef2"
:noFill false
:point [3048 1648]
:parentId "68a1ce81-b1ea-4728-9340-2517f62d1fe9"
:collapsedHeight 93.00005326902223
:nonce 1755435416232}}
:block/updated-at 1755435444640} 
{:block/created-at 1755435444655
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "b3866fc2-7b69-11f0-b6a3-5346dbe80ef2"
:fontWeight 400
:noFill true
:point [2673 1669.07]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "b3866fc0-7b69-11f0-b6a3-5346dbe80ef2"}
:end 
{:id "end"
:canBind true
:point [371 1.97]
:bindingId "b3866fc1-7b69-11f0-b6a3-5346dbe80ef2"}}
:decorations 
{:end "arrow"}
:parentId "68a1ce81-b1ea-4728-9340-2517f62d1fe9"
:nonce 1755435436283
:italic false}}
:block/updated-at 1755435444655} 
{:block/content "Chapter 3: Renbli"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a1d062-3dd4-4f27-8655-fa62f8cc7fc1"}
:block/parent 
{:block/uuid #uuid "68a1ce81-b1ea-4728-9340-2517f62d1fe9"}
:block/properties 
{}
:block/uuid #uuid "68a1d1c3-2fcd-42ed-b3f9-54159b7ba028"} 
{:block/created-at 1755435459412
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "68a1d1c3-2fcd-42ed-b3f9-54159b7ba028"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.999976596802675]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "bfac0670-7b69-11f0-b6a3-5346dbe80ef2"
:noFill false
:point [4064 1336]
:parentId "68a1ce81-b1ea-4728-9340-2517f62d1fe9"
:collapsedHeight 0
:nonce 1755435456601}}
:block/updated-at 1755435459412})
:pages (
{:block/uuid #uuid "68a1ce81-b1ea-4728-9340-2517f62d1fe9"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68a1ce81-b1ea-4728-9340-2517f62d1fe9"
:name "stormwreck crew board"
:bindings 
{:b3866fc0-7b69-11f0-b6a3-5346dbe80ef2 
{:id "b3866fc0-7b69-11f0-b6a3-5346dbe80ef2"
:type "line"
:fromId "b3866fc2-7b69-11f0-b6a3-5346dbe80ef2"
:toId "100e98e0-7b69-11f0-b6a3-5346dbe80ef2"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:b3866fc1-7b69-11f0-b6a3-5346dbe80ef2 
{:id "b3866fc1-7b69-11f0-b6a3-5346dbe80ef2"
:type "line"
:fromId "b3866fc2-7b69-11f0-b6a3-5346dbe80ef2"
:toId "a7835530-7b69-11f0-b6a3-5346dbe80ef2"
:handleId "end"
:point [0.59 0.59]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("100e98e0-7b69-11f0-b6a3-5346dbe80ef2" "a7835530-7b69-11f0-b6a3-5346dbe80ef2" "b3866fc2-7b69-11f0-b6a3-5346dbe80ef2" "bfac0670-7b69-11f0-b6a3-5346dbe80ef2")}}
:block/journal? false
:block/updated-at 1755435465511
:block/created-at 1755434625797
:block/type "whiteboard"
:block/name "stormwreck crew board"
:block/original-name "stormwreck crew board"})}