{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a1ce81-b1ea-4728-9340-2517f62d1fe9"}
:block/parent 
{:block/uuid #uuid "68a1ce81-b1ea-4728-9340-2517f62d1fe9"}
:block/properties 
{}
:block/uuid #uuid "68a1d04b-02ed-4e4f-93b2-5f82afcc8fc7"})
:pages (
{:block/uuid #uuid "68a1ce81-b1ea-4728-9340-2517f62d1fe9"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68a1ce81-b1ea-4728-9340-2517f62d1fe9"
:name "stormwreck crew board"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/journal? false
:block/updated-at 1755435099908
:block/created-at 1755434625797
:block/type "whiteboard"
:block/name "stormwreck crew board"
:block/original-name "stormwreck crew board"})}